.movie-library {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minMax(16.6rem, 1fr));

    width: calc(100vw - 210px);
    overflow: hidden auto;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 40em) {
        grid-template-columns: repeat(auto-fit, minMax(16rem, 1fr));
        // padding: 0 !important;
    }

    @media (max-width: 37.5em) {
        margin-left: 0 !important;
        width: 100vw !important;
        padding: 0 2rem !important;
    }

    @media (max-width: 23.5em) {
        padding: 0 1rem !important;
    }

    &::-webkit-scrollbar {
        @media (max-width: 37.5em) {
            display: none;
        }

    }

    &-title {
        @media (max-width: 40em) {

            padding: 2rem 0 !important;
        }


        @media (max-width: 37.5em) {
            padding: 2rem !important;
            margin-left: 0 !important;

        }

        @media (max-width: 28em) {
            font-size: 3rem !important;

        }
    }
}

.movies-paginated {
    &::-webkit-scrollbar {
        display: none;
    }
}