@import "./mixin.scss";
@import "./fontNOthers.scss";
@import "./layout.scss";
@import "./components/welcome.scss";
@import "./components/logoTitle.scss";
@import "./components/errorElement.scss";
@import "./components/infoBar.scss";
@import "./components/extraInfo.scss";
@import "./components/movieCard.scss";
@import "./components/castCard.scss";
@import "./components/header.scss";
@import "./components/sortNFilter.scss";
@import "./components/carousel.scss";
@import "./components/pageNumber.scss";
@import "./components/movieLibrary.scss";
@import "./components/movieXlCard.scss";
@import "./pages/rootMovies.scss";